/*Front-end Mentor Footer style*/
.attribution { 
    font-size: 11px;
    text-align: center;
    background-color: hsl(225, 100%, 94%);
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/*My style*/
.bodyElement {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500;
    width: 1440px;
    height: 100vh;
    background-color: hsl(225, 100%, 94%);
    background-image: url("../images/pattern-background-desktop.svg");
    background-size: 1440px;
    background-repeat: no-repeat;    
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
    margin-bottom: 0;
    letter-spacing: 0.02rem;
    padding-bottom: 10px;
}

.mainOrder {
    width: 25%;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.mainOrder__img {
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}

.mainOrder__summary {
    background-color: #ffffff;
    margin-top: 0;
    border-radius: 0px 0px 15px 15px;
    display: flex;
    flex-direction: column;
    padding: 35px;
}

.mainOrder__title {
    font-size: 1.2rem;
}

.mainOrder__summaryDetails {
    margin-top: 15px;
    font-size: 0.7rem;
    color: rgb(117, 117, 117);
    line-height: 1.1rem;
    padding: 0px 10px;
}

.summaryResume {
    width: 100%;
    background: hsl(225, 100%, 98%);
    border-radius: 10px;
    margin: 15px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.summaryResume__picto-text {
    display: flex;
    justify-content: left;
    align-items: center;
}

.summaryResume__picto {
    width: 30%;
}

.summaryResume__title {
    margin-bottom: 8px;
}

.summaryResume__text {
    height: 100%;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin-left: 15px;
}

.summaryResume__price {
    color:rgb(117, 117, 117);
}

.mainOrder__link {
    font-size: 0.7rem;
    color:hsl(245, 75%, 52%);
    text-decoration: underline;
}

.mainOrder__btn {
    color: #ffffff;
    background-color:hsl(245, 75%, 52%);
    border: none;
    border-radius: 10px;
    padding: 12px;
    margin-top: 10px;
    margin-bottom: 25px;
    box-shadow: 0px 15px 15px hsl(225, 100%, 94%);
    font-size: 0.8rem;
}

.mainOrder__btn-cancel {
    color:rgb(117, 117, 117);
    background-color: #fff;
    border: none;
    font-size: 0.8rem;
}


/* Utilitaires */

.strong {
    font-weight: 900;
}

.semi-strong {
    font-weight: 700;
}
